@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("DangXuat", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="dropdown ml-auto">
            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               @* <img src="~/Assets/images/" class="img-info rounded-circle bg-info" />*@
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/NguoiDung/Index">Quản lý</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right ">
      @*  <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink", @class = "nav-link" })</li>*@
        <li class="nav-item">@Html.ActionLink("Đăng nhập", "DangNhap", "Login", null, new { id = "loginLink", @class = "nav-link text-light FontLarger" })</li>
    </ul>
}
